.navbar-project {
  height: 35px !important; /*Needs to be fixed*/
  background: black;
  font-family: 'Lora', 'Times New Roman', serif;
  vertical-align: middle;
  /*border-color: black !important;*/
  /*To make columns 100% row height*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:  flex;
  
  /*This keeps it on top when scrolling down*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 23px;
  
  /*This centralizes text vertically*/
  display: flex;
  flex-direction: row;
  margin-left:0px;
}

.navbar-project > [class^="col-"],
.navbar-project > [class*=" col-"] {
  display: flex;
  align-items: center;
  /* justify-content: center;  Optional, to align inner items 
                              horizontally inside the column */
}

a.logo:hover {
    text-decoration: none; 
}